/*Recognized image container*/
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.flex-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-container img {
    width: 100%;
}
.flex-container h1 {
    margin-top: 0;
}

.flex-container .flex-item {
    width: 49%;
    margin-right: 1%;
}
.flex-container .flex-item .tags {
    width: 320px;
}
.flex-container .flex-item .tags li {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
}
.flex-container .flex-item .tags li div {
    display: flex;
}

/*Image url form*/
.image-upload-form input {
    width: 50%;
    height:28px;
    font-size: 16px;
    border: 1px solid silver;
    padding: 0;
    vertical-align: top;
}
.image-upload-form button {
    height:30px;
    font-size: 16px;
}